## Data Wrangling

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('stock_market_data/symbols_valid_meta.csv')

In [11]:
df.head()

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8049 entries, 0 to 8048
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nasdaq Traded     8049 non-null   object
 1   Symbol            8049 non-null   object
 2   Security Name     8049 non-null   object
 3   Listing Exchange  8049 non-null   object
 4   Market Category   8049 non-null   object
 5   ETF               8049 non-null   object
 6   Round Lot Size    8049 non-null   float64
 7   Test Issue        8049 non-null   object
 8   Financial Status  3383 non-null   object
 9   CQS Symbol        4666 non-null   object
 10  NASDAQ Symbol     8049 non-null   object
 11  NextShares        8049 non-null   object
dtypes: float64(1), object(11)
memory usage: 754.7+ KB

In [34]:
assert len(df) == df['Symbol'].nunique()
num_symbols_in_meta_csv = len(df)
print('number of stocks:',num_symbols_in_meta_csv)

number of stocks: 8049

In [42]:
num_in_stock_folder = 5884 # counted from folder
num_in_etf_folder = 2165

# checking that all stocks and etfs are accounted for in my dataset
num_in_stock_folder + num_in_etf_folder == num_symbols_in_meta_csv

True

## Examining single stock structure

In [61]:
apple = pd.read_csv('stock_market_data/stocks/AAPL.csv')
apple.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
9904,2020-03-26,246.520004,258.679993,246.360001,258.440002,258.440002,63021800
9905,2020-03-27,252.750000,255.869995,247.050003,247.740005,247.740005,51054200
9906,2020-03-30,250.740005,255.520004,249.399994,254.809998,254.809998,41994100
9907,2020-03-31,255.600006,262.489990,252.000000,254.289993,254.289993,49250500
9908,2020-04-01,246.500000,248.720001,239.130005,240.910004,240.910004,43956200

In [62]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9909 entries, 0 to 9908
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9909 non-null   object
 1   Open       9909 non-null   float64
 2   High       9909 non-null   float64
 3   Low        9909 non-null   float64
 4   Close      9909 non-null   float64
 5   Adj Close  9909 non-null   float64
 6   Volume     9909 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 542.0+ KB

In [64]:
# converting Date column to datetime object
apple['Date'] = pd.to_datetime(apple['Date'])

In [67]:
# checking that it worked - it did work
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9909 entries, 0 to 9908
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9909 non-null   datetime64[ns]
 1   Open       9909 non-null   float64
 2   High       9909 non-null   float64
 3   Low        9909 non-null   float64
 4   Close      9909 non-null   float64
 5   Adj Close  9909 non-null   float64
 6   Volume     9909 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 542.0 KB