## Data Wrangling

In [1]:
# importing libraries
import pandas as pd
import pandas_ta as ta
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('stock_market_data/symbols_valid_meta.csv')

In [3]:
df.head()

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8049 entries, 0 to 8048
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nasdaq Traded     8049 non-null   object
 1   Symbol            8049 non-null   object
 2   Security Name     8049 non-null   object
 3   Listing Exchange  8049 non-null   object
 4   Market Category   8049 non-null   object
 5   ETF               8049 non-null   object
 6   Round Lot Size    8049 non-null   float64
 7   Test Issue        8049 non-null   object
 8   Financial Status  3383 non-null   object
 9   CQS Symbol        4666 non-null   object
 10  NASDAQ Symbol     8049 non-null   object
 11  NextShares        8049 non-null   object
dtypes: float64(1), object(11)
memory usage: 754.7+ KB

In [5]:
assert len(df) == df['Symbol'].nunique()
num_symbols_in_meta_csv = len(df)
print('number of stocks:',num_symbols_in_meta_csv)

number of stocks: 8049

In [6]:
num_in_stock_folder = 5884 # counted from folder
num_in_etf_folder = 2165

# checking that all stocks and etfs are accounted for in my dataset
num_in_stock_folder + num_in_etf_folder == num_symbols_in_meta_csv

True

## Examining single stock structure

In [7]:
apple = pd.read_csv('stock_market_data/stocks/AAPL.csv')
apple.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
9904,2020-03-26,246.520004,258.679993,246.360001,258.440002,258.440002,63021800
9905,2020-03-27,252.750000,255.869995,247.050003,247.740005,247.740005,51054200
9906,2020-03-30,250.740005,255.520004,249.399994,254.809998,254.809998,41994100
9907,2020-03-31,255.600006,262.489990,252.000000,254.289993,254.289993,49250500
9908,2020-04-01,246.500000,248.720001,239.130005,240.910004,240.910004,43956200

In [8]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9909 entries, 0 to 9908
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9909 non-null   object
 1   Open       9909 non-null   float64
 2   High       9909 non-null   float64
 3   Low        9909 non-null   float64
 4   Close      9909 non-null   float64
 5   Adj Close  9909 non-null   float64
 6   Volume     9909 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 542.0+ KB

In [9]:
# converting Date column to datetime object
apple['Date'] = pd.to_datetime(apple['Date'])

In [10]:
# Setting index to be the date column
apple.set_index('Date', inplace=True)

In [15]:
apple.tail()

,Open,High,Low,Close,Adj Close,Volume,SMA_50,SMA_200,EMA_8,EMA_21,RSI_14,BBL,BBM,BBU,BBB,BBP,MACD,MACD_H,MACD_S
Date,,,,,,,,,,,,,,,,,,,
2020-03-26,246.520004,258.679993,246.360001,258.440002,258.440002,63021800,294.6510,249.47610,248.478666,263.147143,46.699409,218.370454,264.514500,310.658547,34.889616,0.434179,-14.668477,2.307545,-16.976021
2020-03-27,252.750000,255.869995,247.050003,247.740005,247.740005,51054200,293.3790,249.74385,248.314519,261.746494,43.697626,216.721810,263.233501,309.745193,35.338732,0.333445,-13.431974,2.835238,-16.267212
2020-03-30,250.740005,255.520004,249.399994,254.809998,254.809998,41994100,292.1704,250.04715,249.757959,261.115903,46.160211,217.386840,261.033501,304.680163,33.441425,0.428706,-11.357944,3.927414,-15.285358
2020-03-31,255.600006,262.489990,252.000000,254.289993,254.289993,49250500,290.8816,250.35490,250.765078,260.495366,46.000842,217.546767,259.282001,301.017235,32.192928,0.440194,-9.730288,4.444056,-14.174344
2020-04-01,246.500000,248.720001,239.130005,240.910004,240.910004,43956200,289.3684,250.59000,248.575061,258.714878,41.984273,218.862403,256.190501,293.518600,29.140892,0.295322,-10.139817,3.227622,-13.367439

In [12]:
# Creating pandas_ta strategy to get more metrics

# I can change these later to get different metrics

MyStrategy = ta.Strategy(
    name="SMAs, EMAs, rsi, BBs, and MACD",
    ta=[
        {"kind": "sma", "length": 50}, #simple moving average
        {"kind": "sma", "length": 200},
        {"kind": "ema", "length": 8},  #exponential moving average
        {"kind": "ema", "length": 21},
        {"kind": "rsi"},
        {"kind": "bbands", "length": 20, "col_names": ("BBL", "BBM", "BBU", "BBB", "BBP")},
        {"kind": "macd", "fast": 8, "slow": 21, "col_names": ("MACD", "MACD_H", "MACD_S")}
    ]
)

apple.ta.strategy(MyStrategy)

In [13]:
apple.tail()

,Open,High,Low,Close,Adj Close,Volume,SMA_50,SMA_200,EMA_8,EMA_21,RSI_14,BBL,BBM,BBU,BBB,BBP,MACD,MACD_H,MACD_S
Date,,,,,,,,,,,,,,,,,,,
2020-03-26,246.520004,258.679993,246.360001,258.440002,258.440002,63021800,294.6510,249.47610,248.478666,263.147143,46.699409,218.370454,264.514500,310.658547,34.889616,0.434179,-14.668477,2.307545,-16.976021
2020-03-27,252.750000,255.869995,247.050003,247.740005,247.740005,51054200,293.3790,249.74385,248.314519,261.746494,43.697626,216.721810,263.233501,309.745193,35.338732,0.333445,-13.431974,2.835238,-16.267212
2020-03-30,250.740005,255.520004,249.399994,254.809998,254.809998,41994100,292.1704,250.04715,249.757959,261.115903,46.160211,217.386840,261.033501,304.680163,33.441425,0.428706,-11.357944,3.927414,-15.285358
2020-03-31,255.600006,262.489990,252.000000,254.289993,254.289993,49250500,290.8816,250.35490,250.765078,260.495366,46.000842,217.546767,259.282001,301.017235,32.192928,0.440194,-9.730288,4.444056,-14.174344
2020-04-01,246.500000,248.720001,239.130005,240.910004,240.910004,43956200,289.3684,250.59000,248.575061,258.714878,41.984273,218.862403,256.190501,293.518600,29.140892,0.295322,-10.139817,3.227622,-13.367439

In [37]:
# selecting 5 year period
apple_2014_2019 = apple['2014-01-01':'2019-01-01']

In [20]:
apple_2014_2019.T

Date,2014-01-02,2014-01-03,2014-01-06,2014-01-07,2014-01-08,2014-01-09,2014-01-10,2014-01-13,2014-01-14,2014-01-15,...,2018-12-17,2018-12-18,2018-12-19,2018-12-20,2018-12-21,2018-12-24,2018-12-26,2018-12-27,2018-12-28,2018-12-31
Open,7.938286e+01,7.898000e+01,7.677857e+01,7.776000e+01,7.697285e+01,7.811429e+01,7.711857e+01,7.570143e+01,7.688857e+01,7.907429e+01,...,1.654500e+02,1.653800e+02,1.660000e+02,1.604000e+02,1.568600e+02,1.481500e+02,1.483000e+02,1.558400e+02,1.575000e+02,1.585300e+02
High,7.957571e+01,7.910000e+01,7.811429e+01,7.799429e+01,7.793714e+01,7.812286e+01,7.725714e+01,7.750000e+01,7.810429e+01,8.002857e+01,...,1.683500e+02,1.675300e+02,1.674500e+02,1.621100e+02,1.581600e+02,1.515500e+02,1.572300e+02,1.567700e+02,1.585200e+02,1.593600e+02
Low,7.886000e+01,7.720428e+01,7.622857e+01,7.684571e+01,7.695571e+01,7.647857e+01,7.587286e+01,7.569714e+01,7.680857e+01,7.880857e+01,...,1.627300e+02,1.643900e+02,1.590900e+02,1.553000e+02,1.496300e+02,1.465900e+02,1.467200e+02,1.500700e+02,1.545500e+02,1.564800e+02
Close,7.901857e+01,7.728286e+01,7.770428e+01,7.714857e+01,7.763715e+01,7.664571e+01,7.613428e+01,7.653286e+01,7.805572e+01,7.962286e+01,...,1.639400e+02,1.660700e+02,1.608900e+02,1.568300e+02,1.507300e+02,1.468300e+02,1.571700e+02,1.561500e+02,1.562300e+02,1.577400e+02
Adj Close,7.093884e+01,6.938062e+01,6.975896e+01,6.926006e+01,6.969869e+01,6.880863e+01,6.834946e+01,6.870730e+01,7.007444e+01,7.148136e+01,...,1.611309e+02,1.632244e+02,1.581331e+02,1.541427e+02,1.481472e+02,1.443140e+02,1.544769e+02,1.534743e+02,1.535530e+02,1.550371e+02
Volume,5.867120e+07,9.811690e+07,1.031527e+08,7.930230e+07,6.463240e+07,6.978720e+07,7.624400e+07,9.462320e+07,8.314040e+07,9.790970e+07,...,4.428790e+07,3.384150e+07,4.904730e+07,6.477300e+07,9.574460e+07,3.716920e+07,5.858250e+07,5.311710e+07,4.229140e+07,3.500350e+07
SMA_50,7.712894e+01,7.718926e+01,7.724346e+01,7.726669e+01,7.731669e+01,7.733566e+01,7.738211e+01,7.741306e+01,7.748074e+01,7.758740e+01,...,1.978244e+02,1.966600e+02,1.954024e+02,1.940016e+02,1.926890e+02,1.913366e+02,1.900378e+02,1.888136e+02,1.874952e+02,1.862262e+02
SMA_200,6.776631e+01,6.782981e+01,6.789496e+01,6.795076e+01,6.800782e+01,6.806166e+01,6.811942e+01,6.818590e+01,6.826981e+01,6.836094e+01,...,1.942666e+02,1.942128e+02,1.941339e+02,1.940429e+02,1.939119e+02,1.937461e+02,1.936234e+02,1.935043e+02,1.933932e+02,1.932887e+02
EMA_8,7.970484e+01,7.916663e+01,7.884166e+01,7.846542e+01,7.828136e+01,7.791788e+01,7.752153e+01,7.730182e+01,7.746936e+01,7.794791e+01,...,1.692136e+02,1.685150e+02,1.668206e+02,1.646004e+02,1.615181e+02,1.582541e+02,1.580132e+02,1.575991e+02,1.572949e+02,1.573938e+02
EMA_21,7.921991e+01,7.904382e+01,7.892204e+01,7.876082e+01,7.865866e+01,7.847567e+01,7.826282e+01,7.810555e+01,7.810102e+01,7.823937e+01,...,1.774414e+02,1.764076e+02,1.749969e+02,1.733454e+02,1.712895e+02,1.690659e+02,1.679844e+02,1.669086e+02,1.659378e+02,1.651925e+02
RSI_14,5.099618e+01,4.388353e+01,4.585803e+01,4.367571e+01,4.610412e+01,4.213420e+01,4.021071e+01,4.241698e+01,5.000756e+01,5.637990e+01,...,3.107427e+01,3.417177e+01,3.057339e+01,2.807774e+01,2.480196e+01,2.295780e+01,3.644970e+01,3.578397e+01,3.588289e+01,3.782945e+01
BBL,7.798063e+01,7.753354e+01,7.728819e+01,7.692461e+01,7.674185e+01,7.639249e+01,7.595777e+01,7.566936e+01,7.561031e+01,7.561065e+01,...,1.610120e+02,1.618019e+02,1.605876e+02,1.579373e+02,1.541125e+02,1.499173e+02,1.485498e+02,1.471788e+02,1.464140e+02,1.460279e+02
BBM,7.991707e+01,7.974550e+01,7.957428e+01,7.943157e+01,7.926750e+01,7.906014e+01,7.885714e+01,7.867993e+01,7.862250e+01,7.862150e+01,...,1.752895e+02,1.739165e+02,1.726680e+02,1.716605e+02,1.703580e+02,1.690850e+02,1.682125e+02,1.673080e+02,1.660725e+02,1.649820e+02
BBU,8.185351e+01,8.195746e+01,8.186038e+01,8.193853e+01,8.179315e+01,8.172779e+01,8.175652e+01,8.169050e+01,8.163469e+01,8.163235e+01,...,1.895670e+02,1.860311e+02,1.847484e+02,1.853837e+02,1.866035e+02,1.882527e+02,1.878752e+02,1.874372e+02,1.857310e+02,1.839361e+02
BBB,4.846127e+00,5.547545e+00,5.745817e+00,6.312251e+00,6.372483e+00,6.748404e+00,7.353493e+00,7.652709e+00,7.662415e+00,7.659096e+00,...,1.629017e+01,1.393147e+01,1.399263e+01,1.598874e+01,1.907214e+01,2.267223e+01,2.337838e+01,2.406240e+01,2.367456e+01,2.297712e+01
BBP,2.680022e-01,-5.666486e-02,9.100588e-02,4.466842e-02,1.772413e-01,4.746132e-02,3.044096e-02,1.434119e-01,4.059185e-01,6.662914e-01,...,1.025384e-01,1.761544e-01,1.251607e-02,-4.034492e-02,-1.041074e-01,-8.053473e-02,2.192014e-01,2.228397e-01,2.496625e-01,3.089592e-01
MACD,4.849315e-01,1.228085e-01,-8.038045e-02,-2.953975e-01,-3.773064e-01,-5.577874e-01,-7.412892e-01,-8.037243e-01,-6.316622e-01,-2.914554e-01,...,-8.227832e+00,-7.892638e+00,-8.176388e+00,-8.744971e+00,-9.771344e+00,-1.081178e+01,-9.971248e+00,-9.309432e+00,-8.642906e+00,-7.798737e+00
MACD_H,-3.189582e-01,-5.448649e-01,-5.984431e-01,-6.507681e-01,-5.861416e-01,-6.132981e-01,-6.374399e-01,-5.599000e-01,-3.102703e-01,2.394915e-02,...,2.225832e-01,4.462216e-01,1.299772e-01,-3.508845e-01,-1.101806e+00,-1.713795e+00,-6.986089e-01,-2.943398e-02,5.096733e-01,1.083074e+00
MACD_S,8.038897e-01,6.676734e-01,5.180626e-01,3.553706e-01,2.088352e-01,5.551068e-02,-1.038493e-01,-2.438243e-01,-3.213919e-01,-3.154046e-01,...,-8.450415e+00,-8.338860e+00,-8.306366e+00,-8.394087e+00,-8.669538e+00,-9.097987e+00,-9.272639e+00,-9.279998e+00,-9.152579e+00,-8.881811e+00

In [83]:
# function to do this for any stock

def formatter(symbol):
    '''
    takes stock symbol as stringimports data into a pandas df, converts date column to datetime object, sets date as the index,
    uses pandas_ta to generate new metrics for each dataframe
    isolates 2014-2019 range
    '''

    # reading data
    df = pd.read_csv('stock_market_data/stocks/' + symbol + '.csv')

    # converting date to datetime object
    df['Date'] = pd.to_datetime(df['Date'])

    # setting index
    df.set_index('Date', inplace = True)
    
    # generating new metrics
    df.ta.strategy(MyStrategy)

    # slicing for our time window
    df = df['2014-01-01':'2019-01-01']
    
    # pulls error if our dataframe is missing any values
    assert all(df.isna().sum() == 0)

    return df

In [84]:
formatter('A')

,Open,High,Low,Close,Adj Close,Volume,SMA_50,SMA_200,EMA_8,EMA_21,RSI_14,BBL,BBM,BBU,BBB,BBP,MACD,MACD_H,MACD_S
Date,,,,,,,,,,,,,,,,,,,
2014-01-02,40.844063,40.844063,40.164520,40.207439,37.752617,2678800,38.418884,34.143133,40.686641,40.071221,54.790718,38.220056,40.111946,42.003835,9.433049,0.525238,0.615420,-0.174639,0.790059
2014-01-03,40.336193,41.022888,40.243206,40.715309,38.229481,2609600,38.503290,34.193991,40.693012,40.129774,59.284409,38.511755,40.231402,41.951049,8.548779,0.640700,0.563237,-0.181457,0.744695
2014-01-06,41.058655,41.273247,40.457798,40.515022,38.041428,2484600,38.588984,34.247604,40.653459,40.164797,56.883123,38.876536,40.343705,41.810875,7.273349,0.558383,0.488662,-0.204826,0.693488
2014-01-07,40.736767,41.223175,40.722462,41.094421,38.585449,2045500,38.679542,34.305544,40.751450,40.249308,61.714271,39.031076,40.437411,41.843745,6.955610,0.733590,0.502142,-0.153077,0.655219
2014-01-08,41.008583,41.874107,40.894135,41.766811,39.216789,3717900,38.772818,34.367275,40.977086,40.387263,66.417006,39.123710,40.556510,41.989310,7.065697,0.922355,0.589823,-0.052317,0.642140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-24,62.930000,63.630001,62.220001,62.669998,61.828926,1668500,66.932800,66.401100,66.108294,67.828641,31.959142,63.436000,69.573000,75.710000,17.641901,-0.062409,-1.720347,-1.516652,-0.203695
2018-12-26,62.930000,65.580002,62.759998,65.540001,64.660416,1701800,66.918800,66.375250,65.982007,67.620583,43.189401,63.003358,69.387500,75.771643,18.401420,0.198667,-1.638576,-1.147905,-0.490671
2018-12-27,64.500000,66.500000,64.000000,66.480003,65.587799,1655000,66.935800,66.354250,66.092673,67.516894,46.314803,62.734669,69.243501,75.752332,18.799834,0.287712,-1.424221,-0.746840,-0.677381
2018-12-28,66.980003,67.120003,65.709999,65.959999,65.235718,1927700,66.905800,66.334450,66.063190,67.375358,44.845020,62.393607,68.967500,75.541394,19.063743,0.271254,-1.312169,-0.507830,-0.804339
2018-12-31,66.339996,67.480003,66.339996,67.459999,66.719238,1572100,66.911000,66.320850,66.373592,67.383053,49.794441,62.269923,68.762000,75.254077,18.882746,0.399724,-1.009461,-0.164098,-0.845363

In [53]:
# testing with Amazon, Microsoft, and Apple
df = formatter('A')
df['Stock'] = 

symbols = ['AMZN','MSFT','AAPL']

for symbol in symbols:
    new_df = formatter(symbol)
    df = pd.concat([df, new_df], axis=0)

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'SMA_50',
       'SMA_200', 'EMA_8', 'EMA_21', 'RSI_14', 'BBL', 'BBM', 'BBU', 'BBB',
       'BBP', 'MACD', 'MACD_H', 'MACD_S', 'Open', 'High', 'Low', 'Close',
       'Adj Close', 'Volume', 'SMA_50', 'SMA_200', 'EMA_8', 'EMA_21', 'RSI_14',
       'BBL', 'BBM', 'BBU', 'BBB', 'BBP', 'MACD', 'MACD_H', 'MACD_S', 'Open',
       'High', 'Low', 'Close', 'Adj Close', 'Volume', 'SMA_50', 'SMA_200',
       'EMA_8', 'EMA_21', 'RSI_14', 'BBL', 'BBM', 'BBU', 'BBB', 'BBP', 'MACD',
       'MACD_H', 'MACD_S', 'Open', 'High', 'Low', 'Close', 'Adj Close',
       'Volume', 'SMA_50', 'SMA_200', 'EMA_8', 'EMA_21', 'RSI_14', 'BBL',
       'BBM', 'BBU', 'BBB', 'BBP', 'MACD', 'MACD_H', 'MACD_S'],
      dtype='object')